.home {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 750px) {
    .home {
        gap: 2rem;
    }
}
